// Fonts and variables

@import url("https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911");
$blue: #69bcd3;

// General app styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Goudy Bookletter\ 1911", sans-serif;
}

html {
  background-color: $blue;
  height: 100%;
}


// Component styles

.App {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin: 20px 0;
}

.controls {
  .input-field {
    padding: 10px 5px;
    border-radius: 3px 0 0 3px;
    border: 1px solid transparent;
    border-color: #d6d6d6;
    width: 200px;
    font-size: 16px;
    box-shadow: inset 0px 0px 3px 0px #bdbdbd;
  }

  .search-button {
    padding: 11px;
    border-radius: 0 3px 3px 0;
    border: none;
    background-color: #1fd847;
    color: #fff;
    width: 75px;
    font-size: 16px;
  }
}

.checkbox-container {
  margin: 20px auto;
  input.checkboxes{
    margin: 0 5px 0 0;
  }

  .checkbox {
    margin: 0 15px 0 0;
    font-size: 14px;
  }
}

section {
  margin: 20px 30px;

  .recipe {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    max-width: 1000px;

    .img-container {
      margin: 0 auto 10px auto;
      max-width: 170px;

      a {
        color: #f37c0c;
        text-decoration: none;
      }

      a:hover {
        color: #b4671e;
      }

      .recipe-img {
        width: 100%;
      }
    }

    .recipe-content {
      display: flex;

      .recipe-div-1 {
        width: 33.3333%;
        padding: 10px;

        .recipe-info {
          margin: 0 0 15px 0;
        }

        p,
        li {
          text-align: left;
          list-style: none;
          font-size: 18px;
        }

      }

      .recipe-div-2 {
        padding: 10px;
        width: 66.6666%;

        li {
          text-align: left;
          margin: 0 0 0 20px;
          font-size: 18px;
        }
      }

    }
  }

  /*  Media queries */

  @media screen and (max-width: 764px) {
    .recipe {

      .recipe-content {
        display: block;

        .recipe-div-1,
        .recipe-div-2 {
          width: 100%;
        }
      }
    }
  }


}