@import url("https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Goudy Bookletter\ 1911", sans-serif; }

html {
  background-color: #69bcd3;
  height: 100%; }

.App {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center; }

.title {
  margin: 20px 0; }

.controls .input-field {
  padding: 10px 5px;
  border-radius: 3px 0 0 3px;
  border: 1px solid transparent;
  border-color: #d6d6d6;
  width: 200px;
  font-size: 16px;
  box-shadow: inset 0px 0px 3px 0px #bdbdbd; }

.controls .search-button {
  padding: 11px;
  border-radius: 0 3px 3px 0;
  border: none;
  background-color: #1fd847;
  color: #fff;
  width: 75px;
  font-size: 16px; }

.checkbox-container {
  margin: 25px 0 0 0; }
  .checkbox-container .checkbox {
    margin: 0 20px 0 5px;
    font-size: 18px; }

section {
  margin: 20px 0 0 0; }
  section .recipe {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px; }
    section .recipe .recipe-content {
      display: flex; }
      section .recipe .recipe-content .recipe-div-1 {
        width: 33.3333%;
        padding: 10px; }
      section .recipe .recipe-content .recipe-div-2 {
        padding: 10px;
        width: 66.6666%; }
